{% extends 'base.html' %}
    
{% block main %}
               {% for article in article_list %}
                <article class="post post-{{ article.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blog:article_detail' article.pk %}">{{ article.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ article.created_time }}">{{ article.created_time }}</time></a></span>
                            <span class="post-author"><a href="{% url 'blog:article_detail' article.pk %}">{{ article.author }}</a></span>
                            <span class="comments-link"><a href="{% url 'blog:article_detail' article.pk %}">{{ article.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="{% url 'blog:article_detail' article.pk %}">{{ article.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ article.excerpt }}　...</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'blog:article_detail' article.pk %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                
                {% empty %}
                <div class="no-post">暂时还没有发布的文章！</div>
                {% endfor %}
    　　{% if is_paginated %}
    <div class="text-center">
        <div class="pagination">
            <ul>
                {% if first %}
                    <li><a href="?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="current"><a class="current-page" href="?page={{ page_obj.number }}" >{{ page_obj.number }}</a></li>
                {% if right %}
                    {% for i in right %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                {% endif %}
                {% if last %}
                    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
　　　　　{% endif %}
{% endblock main %}
